*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background: rgb(85, 81, 81);
}

form{
    background: rgb(43, 42, 42);
    width: 300px;
    margin: 200px auto;
    border-radius: 10px;
}

form > input{
    margin: 10px 30px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}